<body class="body">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/logout">
          Logout
        </a>
      </div>
    </div>
  </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 card">
          <h1 class="text-center see">Welcome <span class="member-name"></span></h1>
        </div>
      </div>
        <div class="card text-center col-md-6 card">
          <div class="card-header muted">
            Options Menu
          </div>
          <div class="card-body filler">
            <h2 class="card-title space">Runner Game</h2>
            <p class="card-text p">Jump right and and start running.</p>
            <a href="#" class="btn btn-primary">Start Runner Game</a>
            <p class="card-text p">Look at your score and see how you're doing.</p>
            <a href="#" class="btn btn-primary">See Highscore</a>
            <p class="card-text p">TBD</p>
            <a href="#" class="btn btn-primary">TBD</a>
          </div>
          <div class="card-footer text-muted muted">
            @copyright
          </div>
        </div>
    </div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>