 <nav class="navbar navbar-default">
    <div class="container-fluid att2">
      <div class="navbar-header">
        <a class="navbar-brand" href="/logout">
          Logout
        </a>
      </div>
    </div>
  </nav>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 card">
          <h1 class="text-center see">Welcome <span class="member-name"></span></h1>
        </div>
      </div>
        <div class="card text-center col-md-6 card">
          <h2 class="card-header att3 options" id="heading">
            Options Menu
          </h2>
          <div class="card-body filler att1">
            <h3 class="card-title space">Runner Game</h3>
            <p class="card-text p">Jump right and start running.</p>
            <input type="button" value="Start Runner Game" class="btn btn-primary text-light" id="start">
            <p class="card-text p">Look at your score and see how you're doing.</p>
            <input type="button" value="View Highscores" class="btn btn-primary text-light" id="score">
          </div>
          <div class="card-footer text-muted muted att3" id="bottom">
            @copyright 
          </div>
        </div>
    </div>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>