<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/logout">
            Logout
        </a>
      </div>
    </div>
</nav>
<style>* {padding: 0; margin: 0}</style>
<script src="pixi/pixi.min.js"></script>
<script>
    usePng8=true;
    </script>
<script src="./js/game.js"></script>