<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/logout">
          Logout
        </a>
      </div>
    </div>
</nav>
<div class="card text-center col-md-6 card">
    <h1 class="card-header muted p">Highscores</h1>
    <div class="card-body filler row pad">
        <div class="col-md-6 pad">
            <h2 class="card-title space">Player</h2>
            <h3>{{username}}</h3>
        </div>
        <div class="col-md-6 pad">
            <h2 class="card-title space">Highscore</h2>
            <h3>{{#if score}}{{score}}{{else}}N/A{{/if}}</h3>
        </div>
</div>
<div class="card-footer text-muted muted">@copyright</div>