<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/logout">
          Logout
        </a>
      </div>
    </div>
</nav>
<div class="card text-center col-md-6 card">
    <div class="card-header muted">Options Menu</div>
    <div class="card-body filler">
    <h2 class="card-title space">Runner Game</h2>
    <p class="card-text p">Jump right and start running.</p>
    <input type="button" value="Start Runner Game" class="btn btn-primary text-light" id="start">
    <p class="card-text p">Look at your score and see how you're doing.</p>
    <input type="button" value="View Highscores" class="btn btn-primary text-light" id="score">
</div>
<div class="card-footer text-muted muted">@copyright</div>