form.signup,
form.login {
  margin-top: 50px;
}

.see {
  color: white;
}

.muted {
  background-color: rgb(221, 221, 221);
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.body {
  background-image: url("spongebod (2).png");
}

.filler {
  background-color: aliceblue;
}

.space {
  margin-top: 0px;
}

.p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.pad {
  padding: 0px;
  margin: 0px;
}

.main {
  background-color: #ebebeb;
}

.att1 {
  background-color: #f5a25d;
}

.att2 {
  background-color: #fa7f72;
}

.att3 {
  background-color: #389393;
}

#heading {
  padding: 20px;
  border: 10px;
  border-color: black;
}

.form {
  margin-top: 0px;
  margin-bottom: 0px;
}

#bottom {
  padding: 20px;
  border: 10px;
  border-color: black;
  color: black;
}

.link {
  color: white;
}

.options {
  margin: 0px;
}